<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metabolic Syndrome Check-up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    .center-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>

    <div class="form-container">
        <h2>Submit Biomarkers</h2>
        <form action="/submit" method="post">
            <label for="waist">Waist circumference(cm):</label>
            <input type="number" name="waist" id="waist" required><br><br>

            <label for="tg">Triglycerides(mg/dL):</label>
            <input type="number" name="tg" id="tg" required><br><br>

            <label for="hdl">HDL(mg/dL):</label>
            <input type="number" name="hdl" id="hdl" required><br><br>

            <label for="bp">Systolic Blood Pressure(mmHg):</label>
            <input type="number" name="bp" id="bp" required><br><br>

            <label for="fpg">Fasting Plasma Glucose(mg/dL):</label>
            <input type="number" name="fpg" id="fpg" required><br><br>

            <input type="submit" value="Submit">
        </form>
        <br>
        <a href="https://idf.org/media/uploads/2023/05/attachments-30.pdf" target="_blank">
            International Diabetes Federation link
        </a>
        <br>
        <div class="center-button">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
                data-name="bmc-button" 
                data-slug="doctor.george" 
                data-color="#5F7FFF" 
                data-emoji="☕"  
                data-font="Cookie" 
                data-text="Buy me a coffee" 
                data-outline-color="#000000" 
                data-font-color="#ffffff" 
                data-coffee-color="#FFDD00">
            </script>
        </div>

    </div>

    
   

    
</body>
</html>
